<% include ./partials/css %>

<div class="container">
<div class="row text-center" style="padding-top: 6rem;">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fa fa-home fa-2x"></i></h1>
      <h4 class="mb-4 mt-2">Create an account or login</h4>
      <a href="/users/register" class="btn btn-success btn-block mb-2"
        >Registerrr</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
</div>